.custom-button {
    width: 146px;
    font-weight: 700;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-color: #FF5A5F;
    color: white;
    border-style: unset;
    border-radius: 5%;
}