.hebergements{
  display: flex;
  flex-direction: column;
  color: rgba(72, 72, 72, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 2%;
    
  &__subtitle{
    margin-bottom: 2%;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

  }

  &__details {
    width: 100%;

    &__img {
      background-image: url("Rectangle\ 7.jpg");
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      height: 310px;
      width: 1206px;
      left: 0px;
      top: 79px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__logo-container {
        height: 112.26962280273438px;
        width: 100%;
        left: 9.66436767578125px;
        top: 5.8651123046875px;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
      }

      &__button{
        height: 44px;
        width: 200px;
        left: 0px;
        top: 0px;
        border-radius: 4px;
        background-color: white;
        border-style: unset;
        display: flex;
        justify-content: center;
        align-items: center;

        &__text{
          display: flex;
          justify-content: center;
          font-size: 10px;
          font-style: normal;
          font-weight: 700;
          line-height: 12px;
          letter-spacing: 0em;
          color: #484848;
          text-transform: uppercase;
          margin-right: 8%;
        }
      }
    }
  }
}