$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -16px;
  font-size: 12px;
  color: $main-color;
}

.group {
    display: flex;
    flex-direction: column;

  &__form-input {
    height: 48px;
    width: 100%;
    background: white;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 2px;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  &__form-input-label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8F8F8F;
    transition: 300ms ease all;
    
    &.shrink {
      @include shrinkLabel();
    }
  }
}